Maths5ABezierQuaternions/Debug/
Win32/
Maths5ABezierQuaternions/GeneratedFiles/
!/data/*
.vs/
*.sdf
*.sln
*.vcxproj
*.filters
*.user
*.opensdf
*.opendb
*.qrc
ipch/
*.db
*.ipch
Release/
Maths5ABezierQuaternions/Release/
!/except/*
